@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;0,800;1,100&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", serif;
}

a,
li,
ul,
div {
  text-decoration: none;
  list-style-type: none;
}

span {
  color: rgb(255, 255, 255);
}

form {
  border: 4px solid rgb(248, 7, 109);
  position: absolute;
  top: 5%;
  left: 50%;
  width: 200px;
  border-radius: 5%;
}

input[type=text] {
  background: #99fe99;
}

header {
  width: 100%;
  display: block;
}
header .nav-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: rgb(255, 255, 255);
  margin-bottom: 10px;
  padding-bottom: 5px;
}
header .nav-top .header-left {
  margin-top: 20px;
  display: flex;
  justify-content: left;
}
header .nav-top .header-left .logo {
  position: relative;
  width: 300px;
  top: 0px;
  margin-left: 25px;
}
header .nav-top .header-left .logo:hover header .nav-top .header-left .logo_rect {
  stroke-dasharray: 360;
  stroke-dashoffset: 0;
  stroke-width: 20px;
}
header .nav-top .header-left .logo_rect {
  fill: transparent;
  stroke: rgb(248, 7, 109);
  border-bottom: 6px solid rgb(248, 7, 109);
  transition: stroke-width 2s, stroke-dashoffset 2s, stroke-dasharray 2s;
  stroke-dasharray: 210 150;
  stroke-dashoffset: -474;
  stroke-width: 10px;
}
header .nav-top .header-left .logo_text {
  position: relative;
  margin: 0 20px;
  font-weight: 500;
  font-size: 2rem;
  text-align: center;
  line-height: 2.1rem;
  letter-spacing: 0.15em;
  top: -50px;
}
header .nav-top .header-left .logo a {
  color: rgb(248, 7, 109);
}
header .nav-top .header-left .title {
  font-weight: 200;
  font-size: 1.8rem;
}
header .nav-top .header-left .title a {
  color: rgb(33, 32, 32);
}
header .nav-top .header-left .title a:hover {
  color: green;
}
header .nav-top .header-right .languages {
  position: absolute;
  right: 16%;
  top: 5%;
}
header .nav-top .header-right .languages select {
  font-size: 1.05rem;
  border: none;
  border-left: 4px solid rgb(248, 7, 109);
}
header .nav-top .header-right .languages select:hover {
  background: rgba(161, 133, 133, 0.782);
}
header .nav-top .header-right .currency {
  position: absolute;
  right: 10%;
  top: 5%;
}
header .nav-top .header-right .currency select {
  font-size: 1.05rem;
  border: none;
  border-left: 4px solid rgb(248, 7, 109);
}
header .nav-top .header-right .currency select:hover {
  background: rgba(161, 133, 133, 0.782);
}
header .nav-top .header-right .user-page {
  position: absolute;
  right: 5%;
  top: 5%;
  margin: 0 15px;
  font-size: 1.15rem;
}
header .nav-top .header-right .user-page:hover {
  background: rgba(161, 133, 133, 0.782);
}
header .nav-top .header-right .help-page {
  position: absolute;
  right: 1%;
  top: 5%;
  size: 50px;
  margin-right: 10px;
  font-size: 1.15rem;
}
header .nav-top .header-right .help-page:hover {
  background: rgba(161, 133, 133, 0.782);
}
header .nav-bottom {
  background: rgb(248, 7, 109);
  height: 55px;
}
header .nav-bottom .nav-botton {
  display: flex;
  justify-content: space-between;
  font-size: 1.2em;
  padding: 18px;
}
header .nav-bottom .nav-botton .bottom-list1:hover {
  background: white;
}
header .nav-bottom .nav-botton .bottom-list1:hover span {
  color: black;
}
header .nav-bottom .nav-botton .bottom-list1:hover .guide {
  display: initial;
}
header .nav-bottom .nav-botton .bottom-list1 .guide {
  position: relative;
  display: none;
}
header .nav-bottom .nav-botton .bottom-list1 .guide .guide-grid {
  position: absolute;
  top: 30%;
  left: -173px;
  width: 100vw;
  background: whitesmoke;
  margin-top: 20px;
  padding: 10px 0 0 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "1 2 3 4" "5 6 7 8";
}
header .nav-bottom .nav-botton .bottom-list1 .guide .guide-grid .guide-1 {
  grid-area: "1";
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  border: 2px solid grey;
}
header .nav-bottom .nav-botton .bottom-list1 .guide .guide-grid .guide-1 .guide-11 {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: initial;
}
header .nav-bottom .nav-botton .bottom-list1 .guide .guide-grid .guide-1 .guide-11 .icon_info111 {
  margin: 10px 10px 0 0;
}
header .nav-bottom .nav-botton .bottom-list1 .guide .guide-grid .guide-1 .guide-11 .guide-info111 {
  margin-right: 10px;
}
header .nav-bottom .nav-botton .bottom-list1 .guide .guide-grid .guide-1 .guide-11 .guide-info111 span {
  color: red;
}
header .nav-bottom .nav-botton .bottom-list1 .guide .guide-grid .guide-2 {
  grid-area: "2";
}
header .nav-bottom .nav-botton .bottom-list1 .guide .guide-grid .guide-3 {
  grid-area: "3";
}
header .nav-bottom .nav-botton .bottom-list1 .guide .guide-grid .guide-4 {
  grid-area: "4";
}
header .nav-bottom .nav-botton .bottom-list1 .guide .guide-grid .guide-5 {
  grid-area: "5";
}
header .nav-bottom .nav-botton .bottom-list1 .guide .guide-grid .guide-6 {
  grid-area: "6";
}
header .nav-bottom .nav-botton .bottom-list1 .guide .guide-grid .guide-7 {
  grid-area: "7";
}
header .nav-bottom .nav-botton .bottom-list1 .guide .guide-grid .guide-8 {
  grid-area: "8";
}
header .nav-bottom .nav-botton .bottom-list2:hover {
  background: white;
}
header .nav-bottom .nav-botton .bottom-list2:hover span {
  color: rgba(0, 0, 0, 0.712);
}
header .nav-bottom .nav-botton .bottom-list3:hover {
  background: white;
}
header .nav-bottom .nav-botton .bottom-list3:hover span {
  color: rgba(0, 0, 0, 0.712);
}
header .nav-bottom .nav-botton .bottom-list4:hover {
  background: white;
}
header .nav-bottom .nav-botton .bottom-list4:hover span {
  color: rgba(0, 0, 0, 0.712);
}
header .nav-bottom .nav-botton .bottom-list4:hover .logement {
  display: initial;
}
header .nav-bottom .nav-botton .bottom-list4:hover .logement .loge_rest :hover span {
  color: crimson;
}
header .nav-bottom .nav-botton .bottom-list4 .logement {
  display: none;
}
header .nav-bottom .nav-botton .bottom-list4 .logement .loge_rest {
  display: flex;
  background: whitesmoke;
  flex-direction: column;
  margin-top: 1.5em;
}
header .nav-bottom .nav-botton .bottom-list4 .logement .loge_rest li {
  margin-top: 1rem;
  padding-left: 10px;
}
header .nav-bottom .nav-botton .bottom-list5:hover {
  background: white;
}
header .nav-bottom .nav-botton .bottom-list5:hover span {
  color: rgba(0, 0, 0, 0.712);
}

main {
  height: 200vh;
}

footer {
  margin-inline: auto;
  width: 100%;
  height: 100vh;
}
footer .section-one {
  height: 90%;
  background-color: rgb(248, 7, 109);
}
footer .section-one .div-section1 {
  height: 60%;
  padding: 35px 25px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border: 5px rgb(255, 221, 0) solid;
}
footer .section-one .div-section1 ul {
  margin-top: 30px;
}
footer .section-one .div-section1 li {
  margin-bottom: 20px;
}
footer .section-one .div-section1 li a {
  font-size: 15px;
  color: rgb(255, 255, 255);
}
footer .section-one .div-section1 .footer-title {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: normal;
}
footer .section-one .div-section2 {
  height: 20%;
}
footer .section-one hr {
  height: 1px;
  width: min(100% - 2rem, 70rem);
  margin-inline: auto;
}
footer .section-one .div-section3 {
  height: 20%;
}
footer .section-two {
  height: 10%;
  background-color: rgb(213, 0, 88);
  display: flex;
}/*# sourceMappingURL=main.css.map */